{% extends "base.html" %}

{% block title %}
	Good create
{% endblock %}

{% block content %}
<div class='container'>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Заметка</h1>
    <h1 class="display-4 fw-normal text-body-emphasis">
      "<a class="text-primary-emphasis text-decoration-none" href="{% url 'note' note.uuid %}">{{ note.title }}</a>"
    </h1>
    <h1 class="display-4 fw-normal text-body-emphasis">успешно изменена</h1>
    <p class="fs-5 text-body-secondary">Удачного Вам времяпрепровождения.</p>
    <div class="flex-lg-row-reverse align-items-center py-5">
      <a href="{% url 'create' %}" class="btn btn-outline-success btn-lg px-4 me-md-2">Создать следующую заметку</a>
    </div>
  </div>
</div>
{% endblock %}
